@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.employeeTimeTracking {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .btnsave{
    display: block;
    width: 70%;
    margin: 0 15%;
    margin-top: 20px!important;
    text-align: center;
  }

  .txtarea{
    resize: vertical;
  }

  .tableHeader span{
    font-weight: bold;
    font-size: 16px;
  }

  .formLabel{
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
  }

  .formContainer{
    width: 70%;
    margin: 0 15%;
  }

  .spinner{
    width: 100%;
    text-align: center;
    padding: 40px;
  }

  .containerHeader{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: #1b5b71;
    padding-bottom: 20px;
    line-height: 1.055;
    font-weight: 700;
    margin: 0 0 10px;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding-top: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }

  .containerHeader::before{
    content: '';
    position: absolute;
    width: 95px;
    height: 4px;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: #28b6e7;
    box-sizing: border-box;
  }

  .tableContainer>div{
    width: 100%;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}